# ── AWS ───────────────────────────────────────────────────────
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
AWS_DEFAULT_REGION=us-west-2

# ── S3 ────────────────────────────────────────────────────────
S3_BUCKET=review-bombing-group09

# ── Kafka ─────────────────────────────────────────────────────
KAFKA_BOOTSTRAP=kafka:29092
KAFKA_TOPIC=yelp-reviews

# ── Spark ─────────────────────────────────────────────────────
SENTIMENT_MODEL_PATH=/models/sentiment_pipeline
